@import "../../app.scss";

.fetured-container {
    height: 100%;
    width: 80%;
    margin: 50px auto;

    @include desktop {
      width: 90%;
    }

    @include bigMobile {
      width: 80%;
    }

  .top {
    display: flex;
    justify-content: space-between;
    h1 {
        flex: 1;
        font-size: 25px;
        font-weight: 600;
        @include tablet {
          font-size: 20px;
      }
      @include bigMobile{
          font-size: 18px;
      }
      @include mobile {
          font-size: 16px;
      }
    }
    p {
        flex: 2;
        opacity: .7;
        font-size: 15px;
        text-align: justify;
        line-height: 20px;
        @include tablet {
          font-size: 14px;
      }
      @include bigMobile{
          font-size: 12px;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    gap: 50px;
    @include desktop {
      gap: 30px;
    }
    @include bigMobile{
      flex-wrap: wrap;
    }
  }
}
